<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form role="form">
    <div class="form-group field">
      <label for"serialNumber"><%= f.label :serial %></label>
      <input type="number" class="form-control" id="serialNumber"><%= f.number_field :serial %></input>
    </div>
    <div class="form-group field">
      <label for="name"><%= f.label :name %></label>
      <input type="name" class="form-control" id="name"><%= f.text_field :name %></input>
    </div>
    <div class="form-group field">
      <label for="zipcode"><%= f.label :zip %></label>
      <input type="zip" class="form-control" id="zipcode"><%= f.number_field :zip %></input>
    </div>
    <div class="actions">
      <button type="submit" class="btn btn-default"><%= f.submit %></button>
    </div>
  </form>
<% end %>
