<div class="container">
	<div class="row">
		<p id="notice"><%= notice %></p>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h1>Card detail</h2><h4>for: <%= @card.serial %></h4>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-xs-12 col-md-3">
			<p>
			  <strong>Serial:</strong>
			  <%= @card.serial %>
			</p>
		</div>
		<div class="col-xs-12 col-md-3">
			<p>
			  <strong>Name:</strong>
			  <%= @card.name %>
			</p>
		</div>
		<div class="col-xs-12 col-md-3">
			<p>
			  <strong>Zip:</strong>
			  <%= @card.zip %>
			</p>
		</div>
		<div class="col-xs-12 col-md-3">
			<%= link_to 'Edit', edit_card_path(@card) %> |
			<%= link_to 'Back', cards_path %>
		</div>
	</div>
	<div class="row">
		<div id="map-container">
		  <div id="map-canvas"></div>
		</div>
	</div>
</div>