<p id="notice"><%= notice %></p>

<p>
  <strong>Serial:</strong>
  <%= @card.serial %>
</p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @card.zip %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
