<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Serial Number</th>
        <th>Address</th>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= location.serial_number %></td>
          <td><%= location.address %></td>
          <td><%= location.name %></td>
          <td><%= location.latitude %></td>
          <td><%= location.longitude %></td>
          <td><i class="fa fa-eye fa-fw"></i>&nbsp;<%= link_to 'Show', location %></td>
          <td><i class="fa fa-pencil fa-fw"></i>&nbsp;<%= link_to 'Edit', edit_location_path(location) %></td>
         <!-- <td>&nbsp; <%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %> </td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>