<br />
<!-- BREADCRUMB NAV -->
	<div class="row">
		<div class="col-md-6">
			<div class="btn-toolbar">
				<div class="btn-group">
					<%= link_to root_path, :class => "btn btn-primary" do %>
						<i class="fa fa-lg fa-home"></i>
					<% end %>
					<%= link_to new_location_path, :class => "btn btn-primary" do %>
						<i class="fa fa-lg fa-plus"></i>
					<% end %>
					<a class="btn btn-primary active" href="#"><i class="fa fa-lg fa-pencil"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<h1>Edit location</h1>
	</div>
	<br />
	<div class="row">
		<%= render 'form' %>
	</div>
	<div class="row">
		<i class="fa fa-eye fa-fw"></i>&nbsp;<%= link_to 'Show', @location %> |
		<i class="fa fa-trash-o fa-fw"></i>&nbsp;<%= link_to 'Delete', @location, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
