  <div class="row">
    <h1>All locations</h1>
  </div>
  <br />
  <form class="form-inline" role="form">
    <div class="form-group">
      <%= form_tag(locations_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Enter Serial Number", :class => "form-control" %>
        <%= submit_tag "Search", :name => nil, :class => "btn btn-primary" %>
      <% end %>
      <button type="button" class="btn btn-default"><%= link_to 'New Location', new_location_path %>&nbsp;<i class="fa fa-plus-circle fa-fw"></i></button>
    </div>
  </form> 
  <br />
  <div class="row">
    <div class="col-xs-12 col-md-8-offset2">
      <div id="map" style="width: auto; height: 400px; border-radius: 10px; border: #cccccc solid 1px;"></div>
    </div>
  </div>
  <br />
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>