<br />
<!-- BREADCRUMB NAV -->
	<div class="row">
		<div class="col-md-6">
			<div class="btn-toolbar">
				<div class="btn-group">
					<%= link_to root_path, :class => "btn btn-primary" do %>
						<i class="fa fa-lg fa-home"></i>
					<% end %>
					<%= link_to new_location_path, :class => "btn btn-primary" do %>
						<i class="fa fa-lg fa-plus"></i>
					<% end %>
					<a class="btn btn-primary active" href="#"><i class="fa fa-lg fa-eye"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<p id="notice"><%= notice %></p>
	</div>
	<div class="row">
		<h1>Show location</h1>
	</div>
	<br />
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Serial Number:</h3>
			  </div>
			  <div class="panel-body">
					<%= @location.serial_number %>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Name:</h3>
			  </div>
			  <div class="panel-body">
					<%= @location.name %>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Date:</h3>
			  </div>
			  <div class="panel-body">
					<% if @location.created_at != nil %>
						<%= @location.created_at.strftime("%b %d, %Y") %>
					<% else %>
						<%= @location.created_at %>
					<% end %>
			  </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Address:</h3>
			  </div>
			  <div class="panel-body">
					<%= @location.address %>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Latitude:</h3>
			  </div>
			  <div class="panel-body">
					<%= @location.latitude %>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Longitude:</h3>
			  </div>
			  <div class="panel-body">
					<%= @location.longitude %>
			  </div>
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="pull-right">
			<%= link_to 'Edit', edit_location_path(@location), :class => "btn btn-embossed btn-primary" %>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-8-offset2">
		  <div id="map" style="width: auto; height: 400px; border-radius: 10px; border: #cccccc solid 1px;"></div>
		</div>
	</div>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
	    {
	      "lat": <%= @location.latitude %>,
	      "lng": <%= @location.longitude %>
	    }
	  ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
